.guest-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1024px;
  margin-inline: auto;
  padding-inline: 1rem;

  h1 {
    text-align: center;
  }
}

button,
.button {
  margin-top: 15px;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  background-color: #007bff;
  border: 1px solid transparent;
  color: white;
  border-radius: 0.3rem;
  cursor: pointer;

  &:hover {
    background-color: #0056b3;
  }
}

.button.attending-status-label {
  background-color: #ffffff;
  border-color: #aaa;
  margin: 0;
  color: #000000;
}

.button.remove {
  margin: 0;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  label {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }

  input {
    font-size: 1rem;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
  }
}

.guest-form {
  button {
    margin-top: 15px;
  }
}

.guest-list {
  list-style: none;
  padding: 1.5rem 0 0;
  margin-top: 1.5rem;
}

.guest-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
}

.guest-actions {
  display: flex;
  gap: 1rem;
}
